h1, h2, h3, h4, h5, h6{
    font-family: sans-serif;
}

.main--content{
    h1.header {
        margin-right: 1em;
        font-size: 3.25rem;
        margin: 2.75rem 0 1rem;
        color: #000;
        font-family: sans-serif;
    }
    height: 450px;

   flex: 1 0 auto;
}
